@import "midnight";
h1 {
color: #blue;
}
h3{
color: #blue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  color: #white
}
a href {
  color: #yellow   
}
a hover {
  color:#fff20d
}
<ul>
  <li><a href="Classical-Archaeology.md">Archaeology Resources</a></li>
  <li><a href="Classics.md">Classics Resources</a></li>
  <li><a href="README.md">Home</a></li>
</ul>
