@import "midnight";
h1 {
color:#00aeef;
}
h3{
color:#00aeef;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body {
  color: #fffff
}
a href {
  color: #f3b720   
}
a hover {
  color:#fff20d
}
